.booking-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    margin: 0;
    padding: 5rem;
}

.booking-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.booking-details {
    padding: 20px;
    text-align: left;
}

.booking-details p {
    margin: 10px 0;
}

.cancel-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #d9363e;
}

@media (max-width: 768px) {
    .booking-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .booking-grid {
      grid-template-columns: 1fr;
    }
  }